name: Benchmark

on:
  push:
    branches: [ main ]
    paths-ignore:
    - '**/*.md'
  pull_request:
    branches: [ main ]

jobs:
  benchmark:
    name: Short
    runs-on: ubuntu-latest
    services:
      clickhouse:
        image: clickhouse/clickhouse-server:latest
        ports:
          - 8123:8123
        env:
          CLICKHOUSE_DB: test
          CLICKHOUSE_USER: test
          CLICKHOUSE_PASSWORD: test1234
          CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: '1'

    steps:
    - uses: actions/checkout@v6
      name: Checkout
    
    - uses: actions/cache@v4
      name: Cache NuGet
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
        restore-keys: |
          ${{ runner.os }}-nuget-

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          10.x

    - name: Run
      run: dotnet run --project ClickHouse.Driver.Benchmark/ClickHouse.Driver.Benchmark.csproj --framework net10.0 --configuration Release -- --join --filter "*" --artifacts . --job Short
      env:
        CLICKHOUSE_CONNECTION: Host=localhost;Port=8123;Username=test;Password=test1234

    - name: Post results to summary
      run: cat results/*-report-github.md >> $GITHUB_STEP_SUMMARY
