name: macOS Tests

on:
  workflow_call:

jobs:
  macos:
    name: macOS Tests
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14, macos-15-intel]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup ClickHouse
        run: |
          curl https://clickhouse.com/ | sh
          ./clickhouse server --daemon

      - uses: actions/cache@v4
        name: Cache NuGet
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            10.x

      - name: Test
        run: dotnet test ClickHouse.Driver.Tests/ClickHouse.Driver.Tests.csproj
              --framework net10.0 --configuration Release --verbosity normal --logger GitHubActions
              /clp:ErrorsOnly /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:SkipAutoProps=true
        env:
          CLICKHOUSE_CONNECTION: Host=localhost;Port=8123;Username=default
          CLICKHOUSE_TEST_ENVIRONMENT: local_quick_setup
